html, body {
    width: 100%;
    box-sizing: border-box;
}
.product {
    width: 200px;
    height: 300px;
}
.first {
    letter-spacing: 3px;
}
.name {
    color: hsl(212, 21%, 14%);
}
.text {
    color: hsl(228, 12%, 48%);
}
body{
    background: hsl(30, 38%, 92%);
    
    text-align: center;
    margin-top: 10%;
}
.bigcontainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 410px;
}
.bigcontainer img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.container {
    background: white;   
    text-align: left;
    width: 200px;
    height: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content-container {
    margin: 20px;
}
.prices {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}
.prices p {
    margin: auto 0;
    padding: auto 0;
    color: hsl(228, 12%, 48%);
}
.prices h1 {
    color: hsl(158, 36%, 37%);
}
.cart {
    display: flex;
    background: hsl(158, 36%, 37%);
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    border-radius: 5px;
    margin-top: 20px;
    opacity: 1;
}
.cart p {
    color: white;
    
}
.cart img {
    margin: auto 0;
}
.cart:hover {
    background-color: rgb(6, 63, 6);

}

a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;

}
p {
    font-size: 9px; 
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1rem;
}
h1 {
    font-size: 25px; 
    font-family: Fraunces;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5rem;
}
@media screen and (max-width:430px) {
    .bigcontainer {
        flex-direction: column;
        width: 300px;
    }
    .bigcontainer img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .product {
        width: 300px;
        height: 250px;

    }
    body {
        margin: 2%;
    }
    .container {
        margin-top: -10px;
        width: 300px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
    }
    p {
        font-size: 11px;
        font-weight: 500;
    }
    .text {
        line-height: 1.3rem;
    }
    
}